﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Layover</title>
</head>
<body>
    <div class="container">
        <h1>Layover</h1>
        <form>
            <div class="form-group">
                <label for="queryBox">Your query here</label>
                <textarea class="form-control" id="queryBox" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="runButton">Run</button>
            </div>
        </form>

        <div id="result" class="form-group"></div>
        <small class="text-muted"><a href="https://bitbucket.org/forcey/layover">Source</a></small>
    </div>

    <!-- Injected templates -->
    <script id="resultsTemplate" type="text/template">
        <% if(errors && errors.length > 0) { %>
        <div class="alert alert-warning" role="alert">
            <% errors.forEach(function(error) { %>
            <p class="mb-0"><%= error %></p>
            <% }) %>
        </div>
        <% } %>
        <div class="list-group">
            <% routes.forEach(function(route){ %>
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <% route.flights.forEach(function(flight) { %>
                        <p class="mb-1">
                            <%= flight.airline %>
                            <%= flight.flightNumber %>
                            <strong><%= flight.origin %> - <%= flight.destination %></strong>
                        </p>
                        <% }) %>
                    </div>
                    <small class="text-muted"><%= humanizeDuration(route.totalDuration * 1000, { units: ['d', 'h', 'm'], round: true }) %></small>
                </div>
            </div>
            <% }) %>
        </div>
    </script>
    <script id="errorTemplate" type="text/template">
        <div class="alert alert-danger" role="alert">
            <%- error %>
        </div>
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="client.js"></script>
</body>
</html>